@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #0000AA;
}

/* configurações básicas de fonte/texto e estilo de texto */

h1 {
    margin: 1.8rem 0;
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 1.8rem 0;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

h2 u {
    text-decoration-color: #00FF00;
}

h3 {
    font-size: 2.2rem;
    font-weight: 600;
}

/* mais configurações básicas */

img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 1.8rem auto;
    text-align: center;
}

hr {
    max-width: 50%;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
}

ol {
    padding: 0 3.6rem;
}

ul {
    padding: 0 3.6rem;
}

/* main */

main > div > div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.8rem;

}

/* CTA */

div.cta {
    display: flex;
    justify-content: center;
}

div#div06 p {
    margin-bottom: 17.25rem !important;
}

.ymp-image {
    border-radius: 15px !important;
}

.ymp-buy-button {
    font-size: 2rem !important;
}

/* FAQ - Perguntas Frequentes*/

details {
    margin: 1rem auto;
    padding: 1.8rem;
    color: #222222;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #00000045;
}

details p {
    margin-bottom: 0;
}

details ol {
    margin-bottom: 0;
}

summary {
    font-size: 2rem;
    font-weight: 600;
    color: #222222;
}

/* footer */

footer {
    font-size: 1.4rem;
    text-align: center;
    color: #222222;
    background-color: #FFFFFF;
}

footer > div > div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3.6rem;
}

footer a {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #222222;
}

/* hacks */

.tcenter {
    text-align: center;
}

.m36 {
    margin: 3.6rem auto;
}

.mt0 {
    margin-top: 0 !important;
}

.mt10n {
    margin-top: -1rem !important;
}

.mt18n {
    margin-top: -1.8rem !important;
}

.mt70n {
    margin-top: -7rem !important;
}

.mt130n {
    margin-top: -13rem !important;
}

.mt150n {
    margin-top: -15rem !important;
}

.mt170n {
    margin-top: -17.25rem !important;
}

.mb130 {
    margin-bottom: 13rem !important;
}

.mb60 {
    margin-bottom: 6rem !important;
}

.mb22 {
    margin-bottom: 22px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb18n {
    margin-bottom: -1.8rem !important;
}

.mb45n {
    margin-bottom: -4.5rem !important;
}

.pt18 {
    padding-top: 18px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

/* cores de div */

div.white {
    margin: -1px auto;
    color: #222222;
    background-color: #FFFFFF;
}

div.gray {
    margin: -1px auto;
    color: #222222;
    background-color: #F4F5F7;
}

div.yellow {
    background-image: linear-gradient(to right, #FFFF00, #FFFF55);
}

div.green {
    background-image: linear-gradient(to right, #00AA00, #005500);
}

div.blue {
    background-image: linear-gradient(to left, #0000AA, #000055);
}

div.blue2 {
    background-image: linear-gradient(to right, #0000AA, #000055);
}

/* botões */

a.btn-scroll {
    max-width: 100%;
    display: block;
    margin: 3.6rem auto 1.8rem auto;
    padding: 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 2px 3px #00000075;
    color: #FFFFFF;
    background-color: #00AA00;
    border: 1px solid #FFFF00;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #00000045;
}

a.btn-scroll2 {
    max-width: 100%;
    display: block;
    margin: 3.6rem auto 1.8rem auto;
    padding: 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 2px 3px #00000075;
    color: #FFFFFF;
    background-color: #0000AA;
    border-radius: 15px;
    border: 1px solid #FFFF00;
    box-shadow: 0px 5px 10px #00000045;
}

/* responsividade */

@media (max-width:500px) {
    div#div01 {
        background-image: url(media/bg-div01.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div#div04 {
        background-image: url(media/bg-div04.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div#div05 {
        background-image: url(media/bg-div05.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div#div07 {
        background-image: url(media/bg-div06.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
